





include ../../widgeds/header/_header.pug
include ../../widgeds/footer/_footer.pug


.wrapper
  +Header()
  main.main
    .navigations 
      h1(style='margin-bottom: 20px; font-size: 30px') About
      a.category(href="/" style='display: block; margin-bottom: 10px')  Index
      a.category(href="../contacts/" style='display: block; margin-bottom: 10px')  Contacts 
      a.category(href="../login/" style='display: block; margin-bottom: 10px')  Login
  +Footer()