

include ../widgeds/header/_header.pug
include ../widgeds/footer/_footer.pug
include ../features/tab/tab.pug



.wrapper
  +Header()
  main.main
    +Tab()
    img(alt="vite" id='image')    
  +Footer()
