//- ----------------------------Наследственность
//- extends ../shared/settings/pug/core/_loyaout.pug
extends ../app/pug/main.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART



//-! -------------------------------------- PART

//-* -------------------------------------HEAD

//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content
  
  main.main 
    h1 Lorem, ipsum dolor. HOME PAGES



//-: --------------------------------------BODY

