mixin Tab()
  .tab 
    .tab__buttons 
      button(type='button' class='tab__button') Кнопка 1
      button(type='button' class='tab__button') Кнопка 2
      button(type='button' class='tab__button') Кнопка 3
    .tab__contents 
      p.tab__txt Контент 1
      p.tab__txt Контент 2
      p.tab__txt Контент 3
