

extends ../../shared/settings/template/_template.pug


//-: --------------------------------------BODY

block content
  .navigations 
    h1(style='margin-bottom: 20px; font-size: 30px') Contacts
    a.category(href="/" style='display: block; margin-bottom: 10px')  Index
    a.category(href="../about/" style='display: block; margin-bottom: 10px')  About 
    a.category(href="../login/" style='display: block; margin-bottom: 10px')  Login